@font-face {
  font-family: Glitch;
  src: url("/public/fonts/glitch_inside/Glitch\ inside.otf");
}

@font-face {
  font-family: GameCube;
  src: url("/public/fonts/gamecuben/GameCube.ttf");
}

@font-face {
  font-family: Skygraze;
  src: url("/public/fonts/skygraze/Skygraze.otf");
}

/* Lato------------------------------------------ */

body {
  background-image: url("/public/img/sci-bg-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* -------------------------------- MY CUSTOM -------------------------------------------- */
.text-shadow-cls {
  text-shadow: 1px 1px 2px black;
}

.just-cont-end {
  transition: 0.2s justify-content;
}

.just-cont-end:hover {
  transition: 0.2s justify-content;
  justify-content: end;
}

.op-block {
  opacity: 1;
  transition: 0.2s opacity;
}

.op-block-2 {
  opacity: 1;
  transition: 1s opacity;
}

.op-block-2:hover {
  opacity: 0.5;
  transition: 1s opacity;
}

.modal-rounded-0 {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.op-block:hover {
  opacity: 0.5;
  transition: 0.2s opacity;
}

.invalid-input {
  border: 1px solid red !important;
  box-shadow: 0 0 10px 1px red !important;
  outline: none !important;
  outline-offset: none !important;

  /* box-shadow: none !important; */
}

.input-drk:focus {
  border: 1px solid #f5cb5c !important;
  box-shadow: 0 0 10px wheat !important;
  outline: none !important;
  outline-offset: none !important;
}

.bg-rgba {
  /* background-color: rgba(51, 53, 51, 0.7); */
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: rgba(0, 0, 0, 0.3);
}

.card-block {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s background-color;
}
.card-block:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.2s background-color;
}

.box-block {
  background-color: rgba(51, 53, 51, 0.7);
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 1);
}

.box-shadow-white {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 1);
}

.light-anim {
  animation: light-shadow-content 10s ease-out;
  animation-iteration-count: infinite;
}

.light-anim-pulse {
  animation: light-shadow-content-pulse 5s ease-out;
  animation-iteration-count: infinite;
}

@keyframes light-shadow-content {
  0% {
    box-shadow: 0px 0px 5px 3px rgba(255, 103, 0, 0.5);
  }
  25% {
    box-shadow: 0px 0px 5px 3px rgba(0, 78, 152, 0.5);
  }
  50% {
    box-shadow: 0px 0px 5px 3px rgba(255, 103, 0, 0.5);
  }
  75% {
    box-shadow: 0px 0px 5px 3px rgba(245, 203, 92, 0.5);
  }
  100% {
    box-shadow: 0px 0px 5px 3px rgba(255, 103, 0, 0.5);
  }
}

@keyframes light-shadow-content-pulse {
  0% {
    box-shadow: 0px 0px 5px 3px rgba(255, 103, 0, 0.5);
  }
  25% {
    box-shadow: 0px 0px 5px 3px rgba(245, 203, 92, 0.5);
  }
  50% {
    box-shadow: 0px 0px 5px 3px rgba(232, 237, 223, 0.5);
  }
  75% {
    box-shadow: 0px 0px 5px 3px rgba(245, 203, 92, 0.5);
  }
  100% {
    box-shadow: 0px 0px 5px 3px rgba(255, 103, 0, 0.5);
  }
}

.shadow-border-hv-secondary {
  transition: 0.2s border;
}

.shadow-border-hv-secondary:hover {
  transition: 0.2s border;
  border: 1px solid gray;
}

.shadow-border-hv-white {
  transition: 0.2s border;
}

.shadow-border-hv-white:hover {
  border: 1px solid white;
  transition: 0.2s border;
}

.logo-setup {
  border: 2px solid gray;
  border-bottom-right-radius: 20px;
  text-decoration: none;
  color: #ced4da;
  background-color: rgba(51, 53, 51, 1);
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 1);
  text-shadow: -3px -3px 3px black;
  font-family: "Glitch";
}

/* ---------------------------------------------------------------------------------------- */

.video-block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: stretch;
  width: 60%;
  background-color: rgba(51, 53, 51, 0.7);
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 1);
}

.video-block-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 20px;
}

.video-block-content {
  width: 100vw;
  padding: 3px;
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.game-name-title {
  font-size: 32px;
  margin: 10px 0 10px 0;
}

.text-description {
  margin: 30px;
}

.game-name-words {
  color: #f5cb5c;
  text-shadow: 1px 1px 10px rgba(0, 78, 152, 1);
}

.advantages-block {
  padding: 20px 0;
  margin: 20px auto;
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  background-color: rgba(51, 53, 51, 0.7);
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 1);
}
